:root {
  --light-yellow: #fee36e;
  --pink: #f16775;
  --purple: #373e98;
  --alt-purple: #8e94e6;
  --gray: #2a2a2a;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  overflow-y: scroll;
  --background: #232a57;
  --card-background: #20234761;
  --card-font: #ffffff;
  --accent: #d09324;
}

@media (max-width: 1000px) {
  .hero-text {
    text-align: end;
    position: absolute;
    top: 80%;
    left: 79%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

@media (max-width: 1000px) {
  .div_cardContainer {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 370px;
    padding: 0px;
  }
}

@media (max-width: 1000px) {
  .div_card {
    height: 300px;
    box-sizing: border-box;
  }
}

@media (max-width: 2200px) {
  .div-gallery {
    width: auto;
  }
}

@media (max-width: 2200px) {
  .modal__overlay {
    position: absolute;
    border-radius: 5px;
    transform: translate(-23%, 20%);
    width: 90%;
    background-color: var(--background);
    overflow-y: auto;
  }
}

@media (max-width: 2200px) {
  .modal_map {
    width: auto;
  }
}
@media (max-width: 2200px) {
  .lonlat {
    visibility: hidden;
  }
}

@media (max-width: 1400px) {
  .modal__content {
    /* width: 100%; */
    /* position: fixed; */
    /* width: 100%; */
    /* width: 100px; */
  }
}
